<section class="pageContainer">
    <h1 class="srcryTxt pageTitle">Stretch Shrink</h1>

    <article class="contentContainer">
        <p class="srcryTxt textContent">
            The <strong>stretchShrink</strong> properties are used to make an element shrink as the screen size expands&#46;  The <strong>squishGrowth</strong> properties&#44; the <strong>stetchShrink-w</strong> properties make the width of an element decrease as the height of the page expands while the <strong>stretchShrink-h</strong> properties make the height of the element decrease as the width of the screen increases&#46;  This functionality is useful for handling situations where an element may start to grow out of control when scaling to larger screen sizes&#46;  The properties used to control this functionality are outlined in the chart below&#46;
        </p>
    </article>

    <article class="contentContainer">
        <prop-chart [ChartData]="ChartData"/>
    </article>

    <article class="contentContainer">
        <p class="srcryTxt textContent">
            The following example demonstrates the <strong>stretchShrink-h</strong> properties&#46;  Expand the width of the screen beyond the size of the <strong>stretchShrink-h-start</strong> property to see it take effect&#46;
        </p>

        <article class="demonstrationContainer">

            <code-display
                [Language]="'css'"
                [Code]="Demo01Code"
            />

            <demonstration-frame
                [Demonstration]="Demo01Component"
                [ShowDimensions]="true"
                [WindowWidth]="'var(--small-2-3)'"
                [MinWindowWidth]="'98px'"
                [WindowHeight]="'var(--small-2-3)'"
                [MinWindowHeight]="'150px'"
                [BroadcastName]="'StretchShrinkChannel'"
                [ChannelName]="'StretchShrinkExampleA'"
                [TargetName]="'ExampleAReadout'"
            >
                <stretch-shrink-example-a-readout
                    controlArea
                    [BroadcastName]="'StretchShrinkChannel'"
                    [ChannelName]="'ExampleAReadout'"
                    [TargetName]="'StretchShrinkExampleA'"
                />
            </demonstration-frame>
        </article>
    </article>

    <article class="contentContainer">
        <p class="srcryTxt textContent">
            Use the following demonstration to experiment with these properties for yourself to better understand how they can be used in your project&#46;  The box has been given a default width and height of <strong>--small-1-3</strong> so you can focus on the <strong>stretchShrink</strong> properties&#46;  Set the <strong>stretchShrink-min</strong> properties to a size smaller than the default width and height to see them take effect&#46;
        </p>
    </article>

    <article class="demonstrationContainer">
        <demonstration-frame
            [Demonstration]="Demo02Component"
            [ShowDimensions]="true"
            [BroadcastName]="'StretchShrinkChannel'"
            [ChannelName]="'StretchShrinkExampleB'"
            [TargetName]="'ExampleBController'"
            [WindowWidth]="'var(--small-2-4)'"
            [MinWindowWidth]="'98px'"
            [WindowHeight]="'var(--small-2-4)'"
            [MinWindowHeight]="'150px'"
        >
            <stretch-shrink-controller
                controlArea
                [BroadcastName]="'StretchShrinkChannel'"
                [ChannelName]="'ExampleBController'"
                [TargetName]="'StretchShrinkExampleB'"
            />
        </demonstration-frame>
    </article>

    <paginate [PageData]="Pagination" />
</section>