<section class="mainContainer">

    <header #hero class="hero">

        <section class="srcryBox mobileHero">

            <svg class="srcryBox svgLogo" height="100%">
                <use href="#logo_b" class="logoB" fill="hsl(var(--purple-500), 1)" />
            </svg>

            <article class="srcryBox mobileTitleContainer">
                <p class="srcryTxt titleText titleA">
                    Responsive Scaling
                </p>
                <p class="srcryTxt titleText titleB">
                    With <span class="titleHighlight">Less</span> Media Queries
                </p>
            </article>

            <article class="descriptionContainer">

                <p class="srcryBox srcryTxt valueText">
                    Achieve fluid designs that transition across multiple breakpoints through behavioral scaling.  
                </p>

                <button
                    class="srcryBox srcryTxt valueButton"
                    type="button"
                    (click)="changeRoute('getting-started')"
                >
                    GET STARTED NOW
                </button>

            </article>

        </section>

        <section class="standardHero">
            
            <article class="contentSection">
                <article class="standardTitleContainer">
                    <h1 class="srcryTxt standardTitle">
                        Responsive Scaling With <span class="titleHighlight">Less</span> Media Queries
                    </h1>
                </article>

                <article class="standardDescriptionContainer">
                    <p class="srcryTxt standardDescription">
                        Achieve fluid designs that transition across multiple breakpoints through behavioral scaling.
                    </p>

                    <button
                        class="srcryBox srcryTxt valueButton"
                        type="button"
                        (click)="changeRoute('getting-started')"
                    >
                        GET STARTED NOW
                    </button>
                </article>
            </article>

            <article class="standardLogoSection">
                <svg class="srcryBox svgLogoB" height="100%">
                    <use href="#logo_a" class="logoA" fill="hsl(var(--purple-500), 1)" />
                </svg>
            </article>

        </section>
        
    </header>

    <section class="homeIntro">
        <h2 class="srcryTxt homeTitle">
            <span class="strikeThrough">Markup, </span>
            <span class="strikeThrough">Javascript</span>,
            <span class="nonStrike"> Pure CSS</span>
        </h2>

        <article class="srcryTxt paragraphText">
            <p>
                Srcry differs from other frameworks by providing a variety of dynamic sizes and new CSS properties that give developers more control over the scaling behavior of their elements.  This means there's no components or boilerplate code to copy and paste, just values and properties for building your own to perfection.
            </p>
        </article>

        <section class="summarySection">
            <h2 class="srcryTxt homeSubTitle">
                Libraries
            </h2>
            <article class="srcryBox cardSection">
                <summary-card class="summaryCard" *ngFor="let item of LibraryDescriptionData" [CardData]="item" />
            </article>
        </section>

        <section class="summarySection">
            <h2 class="srcryTxt homeSubTitle">
                Classes
            </h2>
            <article class="srcryBox cardSection">
                <summary-card class="summaryCard" *ngFor="let item of ClassDescriptionData" [CardData]="item" />
            </article>
        </section>
    </section>

    <section class="demonstrations">
        <h2 class="srcryTxt homeTitle">
            What You Can Do With Srcry
        </h2>

        <section class="contentSection">

            <article class="srcryTxt paragraphText">
                <p>
                    When transitioning between mobile and desktop screens we run into a few quirks.  While things like pictures and titles need to shrink on mobile devices so they don't dominate the screen, things like links and buttons need to grow larger so the user can interact with them using their thumbs and fingers as opposed to a mouse arrow.  Normally we use media queries to address this problem but Srcry handles this right out of the box.  Scale the window bellow to see this in action.
                </p>
            </article>
            
            <demonstration-frame
                class="demonstrationFrame"
                [Demonstration]="NavDemo"
                [ShowDimensions]="true"
                [WindowWidth]="'var(--large-1-7)'"
                [WindowHeight]="'var(--loMed-2-7)'"
            >
            </demonstration-frame>

            <article class="srcryTxt paragraphText">
                <p>
                    As you can see when you shrink the screen to around 880px the nav bar starts to grow taller as the screen gets narrower.  The only media query used in this example is to toggle the burger icon on and off.
                </p>
            </article>

        </section>

        <section class="contentSection">

            <article class="srcryTxt paragraphText">
                <p>
                    Sometimes we want an element to subtly adapt to the screen as it grows rather than staying the same size until the next media query.  We can easily achieve this using em, rem and view units but we often run into an issue with the element growing too large before the next break point.  If we can't find the magical value needed for it to scale properly we'll just add another media query at the screen size it starts to grow out of control and knock it back to where we want it so it can transition smoothly to the next breakpoint.  We don't need to worry about that anymore because Srcry allows you to fine tune this type of scaling within a single set of rules as shown bellow.
                </p>
            </article>
    
            <demonstration-frame
                class="demonstrationFrame"
                [Demonstration]="ProductDemo"
                [ShowDimensions]="true"
                [WindowWidth]="'var(--loMed-1-4)'"
                [WindowHeight]="'var(--loMed-1-11)'"
            >
            </demonstration-frame>
        </section>
        

    </section>
    

    <section class="paginationContainer">
        <paginate [PageData]="Pagination" />
    </section>

    <!--<section class="dev-spacer"></section>-->

</section>