<section class="mainContainer">

    <header #hero class="hero">

        <section class="srcryBox mobileHero">

            <svg class="srcryBox svgLogo" height="100%">
                <use href="#logo_b" class="logoB" fill="hsl(var(--purple-500), 1)" />
            </svg>

            <article class="srcryBox mobileTitleContainer">
                <p class="srcryTxt titleText titleA">
                    Responsive Scaling
                </p>
                <p class="srcryTxt titleText titleB">
                    With <span class="titleHighlight">Less</span> Media Queries
                </p>
            </article>

            <article class="descriptionContainer">

                <p class="srcryBox srcryTxt valueText">
                    Achieve fluid designs that transition across multiple breakpoints through behavioral scaling.  
                </p>

                <button
                    class="srcryBox srcryTxt valueButton"
                    type="button"
                    (click)="changeRoute('getting-started')"
                >
                    GET STARTED NOW
                </button>

            </article>

        </section>

        <section class="standardHero">
            
            <article class="contentSection">
                <article class="standardTitleContainer">
                    <h1 class="srcryTxt standardTitle">
                        Responsive Scaling With <span class="titleHighlight">Less</span> Media Queries
                    </h1>
                </article>

                <article class="standardDescriptionContainer">
                    <p class="srcryTxt standardDescription">
                        Achieve fluid designs that transition across multiple breakpoints through behavioral scaling.
                    </p>

                    <button
                        class="srcryBox srcryTxt valueButton"
                        type="button"
                        (click)="changeRoute('getting-started')"
                    >
                        GET STARTED NOW
                    </button>
                </article>
            </article>

            <article class="standardLogoSection">
                <svg class="srcryBox svgLogoB" height="100%">
                    <use href="#logo_a" class="logoA" fill="hsl(var(--purple-500), 1)" />
                </svg>
            </article>

        </section>
        
    </header>

    <section class="homeIntro">
        <h2 class="srcryTxt homeTitle">
            <span class="strikeThrough">Markup, </span>
            <span class="strikeThrough">Javascript</span>,
            <span class="nonStrike"> Pure CSS</span>
        </h2>

        <article class="srcryTxt homeIntroText">
            <p>
                Srcry differs from other frameworks by providing a variety of dynamic sizes and new CSS properties that give developers more control over the scaling behavior of their elements.  This means there's no components or boilerplate code to copy and paste, just values and properties for building your own to perfection.
            </p>
        </article>

        <section class="summarySection">
            <h2 class="srcryTxt homeSubTitle">
                Libraries
            </h2>
            <article class="srcryBox cardSection">
                <summary-card class="summaryCard" *ngFor="let item of LibraryDescriptionData" [CardData]="item" />
            </article>
        </section>

        <section class="summarySection">
            <h2 class="srcryTxt homeSubTitle">
                Classes
            </h2>
            <article class="srcryBox cardSection">
                <summary-card class="summaryCard" *ngFor="let item of ClassDescriptionData" [CardData]="item" />
            </article>
        </section>
    </section>

    <responsive-window class="responsiveWindow"></responsive-window>

    <section class="paginationContainer">
        <paginate [PageData]="Pagination" />
    </section>

    <!--<section class="dev-spacer"></section>-->

</section>