:host{
    display: grid;
    min-height: 100vh;
}

.mainContainer{
    display: grid;
    background-color: hsl(var(--gray-100), 1);
    padding-bottom: var(--tiny-2-5);
}

.pageTitle{
    margin-top: var(--tiny-2-4);
}

.repoLink{
    text-decoration: none;
    --text-size: var(--text-article-1);
    --kerning-nudge-amt: 6;
    background-color: hsl(var(--purple-300), 1);
    color: hsl(var(--purple-100), 1);
    font-weight: 400;
    justify-self: center;
    margin-top: var(--xTiny-1-3);
    padding: var(--line-bold) var(--xTiny-1-4);
    transition: 200ms ease-in-out;
}

.repoLink:hover{
    background-color: hsl(var(--purple-500), 1);
    transform: scale(1.1);
    box-shadow: 0 var(--line-bold) var(--line-thick) hsl(var(--gray-300), .88);
}

.contentContainer{
    gap: var(--tiny-2-4) 0;
}