@import url('src/assets/srcry/srcry.css');

*{margin: 0; padding: 0; box-sizing: border-box;}

:host{
    height: 100%;
}

.mainContainer{
    display: grid;
    align-self: top;
    height: auto;
    grid-auto-rows: auto;
    color: hsl(var(--blue-500), 1);
}

.jumbotronText{
    --text-size: var(--text-jumbotron-1);
    --kerning-nudge-amt: 6;
}

.headlineText{
    --text-size: var(--text-headline-1);
    --kerning-nudge-amt: 6;
}

.titleText{
    --text-size: var(--text-title-1);
    --kerning-nudge-amt: 6;
}

.subtitleText{
    --text-size: var(--text-subtitle-1);
    --kerning-nudge-amt: 6;
}

.articleText{
    --text-size: var(--text-article-1);
    --kerning-nudge-amt: 6;
}

.widgetText{
    --text-size: var(--text-widget-1);
    --kerning-nudge-amt: 6;
}

.captionText{
    --text-size: var(--text-caption-1);
    --kerning-nudge-amt: 6;
}