<section class="mainContainer">

    <article class="selectedIndicator">
        <div class="indicator" [ngClass]="SelectedLink ? 'indicator-active' : 'indicator-innactive'"></div>
    </article>

    <article
        class="srcryTxt linkTitle"
        [ngClass]="SelectedLink ? 'linkTitle-active' : 'linkTitle-innactive'"
        *ngIf="Link.subLinks; else noSublinks"
        (click)="handleCategory()"
    >
        <p>{{Link.title}}</p>
    </article>

    <ng-template #noSublinks>
        <article
            class="srcryTxt linkTitle"
            [ngClass]="SelectedLink ? 'linkTitle-active' : 'linkTitle-innactive'"
            (click)="handleLink()"
        >
            <p>{{Link.title}}</p>
        </article>
    </ng-template>

    <article class="dropdownButton" *ngIf="Link.subLinks" (click)="handleCategory()">
        <svg
            viewBox="0 0 10 10"
            width="100%"
            height="100%"
            class="dropdownArrow"
            [ngClass]="SelectedLink ? 'dropdownArrow-active' : 'dropdownArrow-innactive'"
        >
            <use href="#dropdown_arrow" />
        </svg>
    </article>
</section>
<section class="dropdownMenu" [@dropdownAnimation]="SubLinksActive ? 'open' : 'close'">
    <nav-link
        *ngFor="let link of Link.subLinks"
        [Link]="link"
        [BreadCrumbs]="breadCrumbs()"
    ></nav-link>
</section>