@import url('src/assets/srcry/srcry.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host{
    display: grid;
    width: 100%;
    grid-template-rows: 0px auto;
    place-items: center;
}

.textBox{
    display: block;
    width: var(--textMaster);
    height: var(--textMaster);
}

.textArea{
    color: hsl(var(--blue-400), 1);
    --kerning-nudge-amt: 6;
}