<section class="pageContainer">
    <h1 class="srcryTxt pageTitle">Text Size Library</h1>

    <article class="contentContainer">

        <p class="srcryTxt textContent">
            The text size library consists of 7 sizes which each have 5 speeds which is a total of 35 settings&#46;  The sizes are <strong>caption</strong>&#44; <strong>widget</strong>&#44; <strong>article</strong>&#44; <strong>subtitle</strong>&#44; <strong>title</strong>&#44; <strong>headline</strong> and <strong>jumbotron</strong>&#46;  The syntax for using a text size goes as follows&#46;
        </p>
    
        <syntax-frame [Cattegory]="'text'" [Parts]="['size', 'speed']" />

        <p class="srcryTxt textContent">
            It&#39;s as simple as that&#44; just use the word <strong>text</strong> with a dash after it followed by the size and speed&#46;  Lets look at some code to see how this works&#46;
        </p>

    </article>

    <article class="demonstrationContainer">

        <pre class="srcryTxt codeFrame">
            <code
                [highlight]="Demo_01"
                [languages]="['css']"
                [lineNumbers]="true"
            >
            </code>
        </pre>

        <demonstration-frame
            class="demonstrationFrame"
            [Demonstration]="Demo_01Component"
            [ShowDimensions]="true"
            [MinWindowWidth]="'220px'"
            [WindowWidth]="'var(--small-1-3)'"
            [MinWindowHeight]="'264px'"
            [WindowHeight]="'var(--loMed-1-2)'"
        ></demonstration-frame>

    </article>

    <p class="srcryTxt textContent">
        This library was specially designed to preserve a visual hierarchy between the different types of text respectively to the amount of space available on the screen&#46;  The demo on the home page already did a great job showing how this works so there&#39;s no need to reiterate it&#46;  The following demonstration allows you to select a text size and see how it adapts as you scale the screen&#46;
    </p>

    <article class="demonstrationContainer">
        <demonstration-frame
            class="demonstrationFrame"
            [Demonstration]="Demo_02Component"
            [BroadcastName]="'textSizeChannel'"
            [ChannelName]="'textAnalyzerChannel'"
            [ShowDimensions]="true"
            [MinWindowWidth]="'90px'"
            [WindowWidth]="'var(--tiny-2-3)'"
            [MinWindowHeight]="'50px'"
            [WindowHeight]="'var(--small-1-2)'"
        >
            <text-analyzer-input
                controlArea
                [BroadcastName]="'textSizeChannel'"
                [ChannelName]="'textAnalyzerChannel'"
            />
        </demonstration-frame>
    </article>

    <p class="srcryTxt textContent">
        Just like the box sizes&#44; the text sizes are calculated by combining a static pixel value with a flexible value based on the overall screen size&#46;  Each text size has a core of <strong>9px</strong> which is how they&#39;re closer in size on smaller devices because the flexible values equate to such a small size that there isn&#39;t as much of a difference between them&#46;  As the screen gets larger and the flexible values grow larger the difference between them becomes more evident&#46;
    </p>

    <article class="contentContainer">

        <p class="srcryTxt textContent">
            The text size library also has negative values available which can be used by adding a &#34;<strong>-</strong>&#34; to the end of your size definition as shown on the <strong>top</strong> property below&#46;
        </p>
    
        <pre class="srcryTxt codeFrame">
            <code
                [highlight]="Demo_03"
                [languages]="['css']"
                [lineNumbers]="true"
            >
            </code>
        </pre>

    </article>


    <section class="paginationContainer">
        <paginate [PageData]="Pagination" />
    </section>
</section>