<section class="pageContainer">
    <h1 class="srcryTxt pageTitle">Getting Started</h1>

    <section class="contentContainer">
        <article class="stepContainer">
            <h2 class="srcryTxt sectionSubTitle">#1 Download the files</h2>

            <p class="srcryTxt textContent">
                Click on the button below to open the repository then click the green &#34;Code&#34; button on the upper right hand side just above the project view&#46; When the dropdown opens click the &#34;Download ZIP&#34; option at the bottom to begin downloading&#46; 
            </p>
            <a class="srcryTxt repoLink" href="https://github.com/ovaad-craft/srcry-css" target="_blank">
                Srcry Repo
            </a>
        </article>

        <article class="stepContainer">
            <h2 class="srcryTxt sectionSubTitle">
                #2 Unzip and add files to your project
            </h2>
    
            <p class="srcryTxt textContent">
                Once the download completes open your downloads folder and unzip the package&#46;  When its done unpacking simply click and drag it to wherever you want it in your project&#46;
            </p>
        </article>

        <article class="stepContainer">
            <h2 class="srcryTxt sectionSubTitle">
                #3 Add Srcry to your main stylesheet
            </h2>
    
            <p class="srcryTxt textContent">
                Now that you have Srcry added to your project&#39; all you have to do is import it into your main stylesheet by adding the following line of code to the top of the page&#46;
            </p>

            <code-display [Language]="'css'" [Code]="Code" />

        </article>

        <article class="stepContainer">
            <p class="srcryTxt textContent">
                That&#39;s all there is to adding it to your project&#46;  Now you&#39;re ready to start building some awesome UIs&#46;
            </p>
        </article>

        <article class="stepContainer">
            <p class="srcryTxt textContent noteContainer">
                Note&#58;
                <small>
                    <i>
                        There will be a CDN available in the future for simpler use as the user base grows&#46;
                    </i>
                </small>
            </p>
        </article>
    </section>

    <paginate [PageData]="Pagination" />
</section>
