:host{
    width: min(var(--small-2-6), 92vw);
}

.controlContainer{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: var(--line-bold);
    padding: var(--line-semiWide);
}

.readoutTitle{
    grid-area: 1/1/2/3;
    place-self: center;
    --text-size: var(--text-widget-2);
    --kerning-nudge-amt: 6;
    color: hsl(var(--purple-700), 1);
    margin-bottom: var(--micro-2-3);
}

.widthContainer{
    grid-area: 2/1/3/2;
    display: grid;
    gap: var(--line-bold) 0;
}

.heightContainer{
    grid-area: 2/2/3/3;
    display: grid;
    gap: var(--line-bold) 0;
}

.propReading{
    place-self: center;
    --text-size: var(--text-widget-3);
    --kerning-nudge-amt: 6;
    color: hsl(var(--purple-300), 1);
}

.readingText{
    --kerning-nudge-amt: 6;
    place-self: center;
    color: hsl(var(--purple-400), 1);

}

.size{
    place-self: center;
    --text-size: var(--text-widget-4);
    --kerning-nudge-amt: 6;
    color: hsl(var(--purple-700), 1);
}

