@import url('src/assets/srcry/srcry.css');
@import url('src/assets/color-defs.css');

:host{
    display: grid;
    place-items: center;
}

.demoBox{
    display: block;
    width: var(--loMed-1-8);
    height: var(--tiny-2-10);
    background-color: hsl(var(--blue-400), 1);
}