:host{
    display: grid;
    place-items: center;
    width: 100%;
}

.mainContainer{
    display: grid;
    grid-template-rows: auto auto;
    background-color: hsl(var(--gray-200), .11);
    border: var(--line-light) solid hsl(var(--gray-200), 1);
    --baseSize-w: var(--small-2-8);
}

.readoutContainer{
    display: grid;
    place-items:center;
    background-color: hsl(var(--gray-200), .29);
    padding: var(--line-thick) 0;
}

.readoutText{
    --text-size: var(--text-widget-2);
    --kerning-nudge-amt: 6;
    color: hsl(var(--purple-300), 1);
    font-weight: 600;
}

.readoutTitle{
    color: hsl(var(--purple-500), 1);
}

.sizeSelector{
    grid-area: 2/1/3/2;
}

.propDisplay{
    grid-area: 3/1/4/2;
}