<section class="mainContainer">

    <article class="readingContainer">
        <article class="indicatorContainer">
            <div class="indicator baseIndicator"></div>
        </article>
        <p class="srcryTxt reading">{{Readings.baseWidth}}<small>px</small></p>
    </article>

    <article class="readingContainer">
        <article class="indicatorContainer">
            <div class="indicator chunkIndicator"></div>
        </article>
        <p class="srcryTxt reading">{{Readings.chunkWidth}}<small>px</small></p>
    </article>

    <article class="readingContainer">
        <article class="indicatorContainer">
            <div class="indicator sliceIndicator"></div>
        </article>
        <p class="srcryTxt reading">{{Readings.sliceWidth}}<small>px</small></p>
    </article>

    <article class="readingContainer">
        <article class="indicatorContainer">
            <p class="srcryTxt indicatorTitle">full width</p>
        </article>
        <p class="srcryTxt reading">{{Readings.fullWidth}}<small>px</small></p>
    </article>

</section>