<section class="mainContainer">

    <article *ngIf="ShowSuggestion" class="srcryBox srcryTxt suggestion">
        <p>
            Please view this website on a screen size at least 800px wide x 500px high to fully interact with the demonstration below.
        </p>
    </article>

    <screen-dimensions *ngIf="ShowDimensions" [Dimensions]="WindowDimensions" />

    <article
        id="resizeFrame"
        class="resizeFrame"
        [ngStyle]="{'--defaultWidth': WindowWidth, '--minWidth': MinWindowWidth, '--defaultHeight': WindowHeight, '--minHeight': MinWindowHeight}"
        (click)="triggerAnalytics()"
    >
        <iframe
            #domFrame
            class="domFrame"
        ></iframe>
    </article>

    <ng-content select="[controlSection]"></ng-content>
</section>