<section class="mainContainer">

    <header #hero class="hero">

        <section class="srcryBox mobileHero">

            <svg class="srcryBox svgLogo" height="100%">
                <use href="#logo_b" class="logoB" fill="hsl(var(--purple-500), 1)" />
            </svg>

            <article class="srcryBox mobileTitleContainer">
                <p class="srcryTxt titleText titleA">
                    Responsive Scaling
                </p>
                <p class="srcryTxt titleText titleB">
                    With <span class="titleHighlight">Less</span> Media Queries
                </p>
            </article>

            <article class="descriptionContainer">

                <p class="srcryBox srcryTxt valueText">
                    Achieve fluid designs that transition across multiple breakpoints through behavioral scaling&#46;
                </p>

                <button
                    class="srcryBox srcryTxt valueButton"
                    type="button"
                    (click)="changePath('getting-started')"
                    [routerLink]="'/getting-started'"
                >
                    GET STARTED NOW
                </button>

            </article>

        </section>

        <section class="standardHero">
            
            <article class="contentSection">
                <article class="standardTitleContainer">
                    <h1 class="srcryTxt standardTitle">
                        Responsive Scaling With <span class="titleHighlight">Less</span> Media Queries
                    </h1>
                </article>

                <article class="standardDescriptionContainer">
                    <p class="srcryTxt standardDescription">
                        Achieve fluid designs that transition across multiple breakpoints through behavioral scaling&#46;
                    </p>

                    <button
                        class="srcryBox srcryTxt valueButton"
                        type="button"
                        (click)="changePath('getting-started')"
                        [routerLink]="'/getting-started'"
                    >
                        GET STARTED NOW
                    </button>
                </article>
            </article>

            <article class="standardLogoSection">
                <svg class="srcryBox svgLogoB" height="100%">
                    <use href="#logo_a" class="logoA" fill="hsl(var(--purple-500), 1)" />
                </svg>
            </article>

        </section>
        
    </header>

    <section class="pageContainer">

        <article class="introTitleContainer">
            <h1 class="srcryTxt pageTitle introTitle">
                <span class="strikeThrough">Markup&#44; </span>
                <span class="strikeThrough">Javascript</span>&#44;
                <span class="nonStrike"> Pure CSS</span>
            </h1>
        </article>

        <p class="srcryTxt textContent">
            Srcry differs from other frameworks by providing a variety of dynamic sizes and new CSS properties that give developers more control over the scaling behavior of their elements&#46;  This means there&#39;s no component libraries or boilerplate code to modify&#44; just values and properties for building your own elements to perfection&#46;  These properties and values are organized into 3 size libraries and 2 configurable classes that make responsive design easier than ever&#46;
        </p>

        <article class="cardContainer">

            <section class="summarySection">
                <h2 class="srcryTxt homeSubTitle">
                    Libraries
                </h2>
                <article class="srcryBox cardSection">
                    <summary-card class="summaryCard" *ngFor="let item of LibraryDescriptionData" [CardData]="item" />
                </article>
            </section>
    
            <section class="summarySection">
                <h2 class="srcryTxt homeSubTitle">
                    Classes
                </h2>
                <article class="srcryBox cardSection">
                    <summary-card class="summaryCard" *ngFor="let item of ClassDescriptionData" [CardData]="item" />
                </article>
            </section>

        </article>

        <h2 class="srcryTxt sectionTitle">
            What Can We Do With Srcry?
        </h2>

        <article class="demonstrationContainer">

            <h2 class="srcryTxt demonstrationTitle">
                Create A Single Ruleset For All Devices
            </h2>

            <p class="srcryTxt textContent demonstrationText">
                When transitioning between mobile and desktop screens we run into a few quirks&#46;  While things like pictures and titles need to shrink on mobile devices so they don't dominate the screen&#44; things like links and buttons need to grow larger so the user can interact with them using their thumbs and fingers&#46;  Normally we use media queries to address this problem but Srcry handles this right out of the box&#46;  Resize the window below to see this in action&#46;
            </p>

            <demonstration-frame
                class="demonstrationFrame"
                [Demonstration]="NavDemo"
                [AnalyticsName]="'NavDemoTrigger'"
                [ShowDimensions]="true"
                [WindowWidth]="'var(--large-1-7)'"
                [WindowHeight]="'var(--loMed-2-7)'"
                (AnalyticsTrigger)="sendDemoAnalytics($event)"
            >
            </demonstration-frame>

            <p class="srcryTxt textContent demonstrationText">
                As you just saw&#44; when you shrink the screen to around 880px the nav bar and login button grows taller as the screen gets narrower&#46;  The only media query used in this example is to toggle the burger icon on and off&#46;
            </p>

        </article>

        <article class="demonstrationContainer">

            <h2 class="srcryTxt demonstrationTitle">
                Switch Between Subtle and Rapid Scaling As Needed
            </h2>

            <p class="srcryTxt textContent demonstrationText">
                Sometimes we want an element to subtly adapt to the screen as it grows rather than staying the same size until the next media query&#46;  We can easily achieve this using em&#44; rem and view units but we often run into an issue with the element growing too large before the next break point&#46;  If we can&#39;t find the magical value needed for it to scale properly we&#39;ll just add another media query at the screen size it starts to grow out of control and knock it back to where we want it so it can transition smoothly to the next breakpoint&#46;  Srcry eliminates that headache by allowing you to fine tune this type of scaling within a single set of rules as demonstrated in the next example&#46;
            </p>

            <demonstration-frame
                class="demonstrationFrame"
                [Demonstration]="ProductDemo"
                [AnalyticsName]="'ProductCardTrigger'"
                [ShowDimensions]="true"
                [MinWindowWidth]="'162px'"
                [MinWindowHeight]="'320px'"
                [WindowWidth]="'var(--small-1-4)'"
                [WindowHeight]="'var(--small-1-11)'"
                (AnalyticsTrigger)="sendDemoAnalytics($event)"
            >
            </demonstration-frame>

            <p class="srcryTxt textContent demonstrationText">
                In this example&#44; the product component adapts subtly as you expand the screen until around 490px where it starts growing rapidly&#46;  At around 620px the rapid growth stops and it goes back to adapting subtly&#46;
            </p>

        </article>

        <article class="demonstrationContainer">

            <h2 class="srcryTxt demonstrationTitle">
                Fluid Proportional Text
            </h2>

            <p class="srcryTxt textContent demonstrationText">
                Text hierarchy is one of the most important aspects of good web design as it helps the user understand at a glance how the content is organized&#46;  A lot of us use em units to maintain a proportional difference with our text which works great however we don&#39;t have to scale too far before we run into problems with runaway text&#46; The following example shows how Srcry addresses this challenge thus eliminating another media query or two&#46;
            </p>

            <demonstration-frame
                class="demonstrationFrame"
                [Demonstration]="ArticleDemo"
                [AnalyticsName]="'ArticleDemoTrigger'"
                [ShowDimensions]="true"
                [WindowWidth]="'var(--tiny-2-4)'"
                [MinWindowWidth]="'113px'"
                [WindowHeight]="'var(--tiny-2-5)'"
                [MinWindowHeight]="'150px'"
                (AnalyticsTrigger)="sendDemoAnalytics($event)"
            >
            </demonstration-frame>

            <p class="srcryTxt textContent demonstrationText">
                Starting out&#44; all the text is fairly close in size with just enough of a proportional difference to distinguish them from one another&#46;  As you enlarge the screen&#44; the proportions become greater making good use of the extra white space that becomes available&#46;
            </p>

        </article>

        <p class="srcryTxt textContent">
            These demonstrations barely scratch the surface of what can be done&#46;  Each page in this documentation allows you to experiment with the properties and values Srcry has to offer so you can add it to a new project and instantly create your own brilliant layouts&#46;
        </p>



        <section class="paginationContainer">
            <paginate [PageData]="Pagination" />
        </section>

    </section>
    
</section>