<section class="mainContainer">
    <article class="readingContainer originalContainer">
        <p class="srcryTxt indicatorText">original size</p>
        <p class="srcryTxt readoutText">{{Readings.fullWidth}}<small>px</small></p>
    </article>

    <article class="readingContainer chunkContainer">
        <div class="indicator chunkIndicator"></div>
        <p class="srcryTxt readoutText">-{{Readings.chunkWidth}}<small>px</small></p>
    </article>
    
    <article class="readingContainer baseContainer">
        <div class="indicator baseIndicator"></div>
        <p class="srcryTxt readoutText">{{Readings.baseWidth}}<small>px</small></p>
    </article>

</section>