<section class="mainContainer">

    <section class="widthContainer dimensionContainer">
        <article class="readingContainer sizeReading">
            <h3 class="srcryTxt readingTitle">width</h3>
            <p class="srcryTxt readingText">{{Readings.width}}<small>px</small></p>
        </article>  
        
        <article class="readingContainer shrinkReading">
            <h3 class="srcryTxt readingTitle">shrink amount</h3>
            <p class="srcryTxt readingText">{{Readings.shrinkAmountW}}<small>px</small></p>
        </article>  
    </section>

    <section class="heightContainer dimensionContainer">

        <article class="readingContainer sizeReading">
            <h3 class="srcryTxt readingTitle">height</h3>
            <p class="srcryTxt readingText">{{Readings.height}}<small>px</small></p>
        </article>  
        
        <article class="readingContainer shrinkReading">
            <h3 class="srcryTxt readingTitle">shrink amount</h3>
            <p class="srcryTxt readingText">{{Readings.shrinkAmountH}}<small>px</small></p>
        </article>

    </section>

</section>