<section class="pageContainer">

    <h1 class="srcryTxt pageTitle">Edge Chase and Chase Stop</h1>

    <article class="contentContainer">
        <p class="srcryTxt textContent">
            These are two separate properties but need to be covered here because they work together to achieve one behavior&#46;  The <strong>edgeChase</strong> property is somewhat similar to the <strong>crushGap</strong> property with the difference being the <strong>edgeChase</strong> defines the size of the margin to preserve as the screen expands while the <strong>crushGap</strong> defines the margin to preserve as the screen shrinks&#46;
        </p>

        <p class="srcryTxt textContent">
            The <strong>chaseStop</strong> property defines the maximum size you want the element to expand to before it stops preserving the margin defined by the <strong>edgeChase</strong> property&#46; The following chart outlines the use of all available properties&#46; 
        </p>
    </article>

    <article class="contentContainer">
        <prop-chart [ChartData]="PropData" />
    </article>

    <article class="contentContainer">
        <article class="demonstrationContainer">

            <code-display [Language]="'css'" [Code]="Demo_01" />

            <demonstration-frame
                [Demonstration]="DemoComponent_01"
                [BroadcastName]="'EdgeChaseChannel'"
                [ChannelName]="'EdgeChaseDemoA'"
                [TargetName]="'EdgeChaseDemoAController'"
                [ShowDimensions]="true"
                [WindowWidth]="'var(--loMed-1-4)'"
                [MinWindowWidth]="'98px'"
                [WindowHeight]="'var(--loMed-1-4)'"
                [MinWindowHeight]="'150px'"
            >
                <edge-chase-readout
                    controlArea
                    [BroadcastName]="'EdgeChaseChannel'"
                    [ChannelName]="'EdgeChaseDemoAController'"
                />
            </demonstration-frame>
        </article>
    </article>

    <article class="contentContainer">
        <p class="srcryTxt textContent">
            The demonstration above shows how all the properties we&#39;ve covered so far work together&#46;  When you shrink the window beneath the width or height of the <strong>baseSize</strong> property the <strong>crushGap</strong> property takes over&#46;  When you expand the screen there comes a point where it&#39;s equal to the size you set in the <strong>edgeChase</strong> properties&#46;  As you expand the screen beyond that point the box expands to maintain that amount of distance between the edges of the element and the edges of the screen&#46;  Once the box grows to the size defined in the <strong>chaseStop</strong> properties it stops chasing the edges of the screen and continues to scale accordingly with the speed setting of the <strong>box size</strong> used as a value for this property&#46;
        </p>

        <p class="srcryTxt textContent">
            Use the following demonstration to experiment with these settings for yourself to better understand how they work&#46;  The <strong>baseSize</strong> and <strong>crushGap</strong> properties are already set for you to keep the demonstration focused&#46; 
        </p>
    </article>

    <article class="contentContainer">
        <article class="demonstrationContainer">

            <demonstration-frame
                [Demonstration]="DemoComponent_02"
                [BroadcastName]="'EdgeChaseChannel'"
                [ChannelName]="'EdgeChaseDemoB'"
                [TargetName]="'EdgeChaseController'"
                [ShowDimensions]="true"
                [WindowWidth]="'var(--loMed-1-4)'"
                [MinWindowWidth]="'98px'"
                [WindowHeight]="'var(--loMed-1-4)'"
                [MinWindowHeight]="'150px'"
            >
                <edge-chase-controller
                    controlArea
                    [BrodcastName]="'EdgeChaseChannel'"
                    [ChannelName]="'EdgeChaseController'"
                    [TargetName]="'EdgeChaseDemoB'"
                />
            </demonstration-frame>
            
        </article>
    </article>

    <paginate [PageData]="Pagination" />
</section>