.mainContainer{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
}

.navbar{
    grid-area: 1/1/2/3;
    position: sticky;
    top: 0;
    left: 0;
    transform: translateY(var(--tiny-2-1-));
    z-index: 110;
}

.sidebar{
    grid-area: 1/1/3/2;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
}

.main{
    grid-area: 1/2/3/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.footer-component{
    grid-area: 3/1/4/3;
}

