<section class="mainContainer">
  <navbar
    [@navbarAnimation]="NavBarActive ? 'open' : 'close'"
    class="navbar"
    (OpenSidebar)="toggleSidebar($event)"
  />
  <sidebar
    class="sidebar"
    [@sidebarAnimation]="SidebarActive ? 'open' : 'close'"
    (CloseSidebar)="toggleSidebar($event)"
  ></sidebar>
  <main [@pageAnimation]="routeState(outlet)" class="main">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>
  <footer-component class="footer-component"></footer-component>
</section>