<section class="mainContainer">

    <article *ngIf="ShowSuggestion" class="srcryBox srcryTxt suggestion">
        <p>
            Please view this website on a screen size at least 800w x 500h to fully interact with the demonstration bellow.
        </p>
    </article>

    <screen-dimensions *ngIf="ShowDimensions" [Dimensions]="WindowDimensions" />

    <article
        id="resizeFrame"
        class="resizeFrame"
        [ngStyle]="{'--defaultWidth': WindowWidth, '--defaultHeight': WindowHeight}"
    >
        <iframe
            #domFrame
            class="domFrame"
            sandbox="allow-scripts allow-same-origin"
        ></iframe>
    </article>
</section>

<section *ngIf="FirefoxBrowser">
    please use a different browser
</section>