@import url('src/assets/srcry/srcry.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:host{
    display: grid;
    width: 100%;
    height: 100%;
}

.mainContainer{
    display: grid;
    width: 100%;
    grid-template-rows: 0px auto;
}

.readingContainer{
    grid-area: 1/1/2/2;
    display: block;
    width: 100%;
    height: 0px;
    overflow: hidden;
}

.boxContainer{
    grid-area: 2/1/3/2;
    display: grid;
    place-self: center;
    width: 100%;
    height: 100%;
}

.baseBox{
    display: block;
    width: var(--small-2-3);
    height: var(--small-2-3);
}

.stopBox{
    display: block;
}

.box{
    display: block;
    place-self: center;
    --crushGap-w: var(--xTiny-2-6);
    --baseSize-w: var(--small-2-3);
    --crushGap-h: var(--xTiny-2-6);
    --baseSize-h: var(--small-2-3);
    background-color: hsl(var(--blue-300), 1);
}