<section class="pageContainer">
    <h1 class="srcryTxt pageTitle">Base Size</h1>

    <article class="contentContainer">
        <p class="srcryTxt textContent">
            The <strong>baseSize</strong> is a set of 6 properties that are used for defining the core size of your element&#46;  If for example you&#39;re taking a mobile first approach to your layout, this would be the size you want your element to be on mobile devices&#46;  The properties and their usage is defined in the chart below&#46;
        </p>

        <prop-chart [ChartData]="PropData" />
    </article>

    <article class="contentContainer">
        <p class="srcryTxt textContent">
            The following example demonstrates how to set the <strong>--baseSize-w</strong> and <strong>--baseSize-h</strong> properties on your element&#46;
        </p>

        <article class="demonstrationContainer">

            <code-display [Language]="'css'" [Code]="Demo_01" />
    
            <demonstration-frame
                [Demonstration]="Demo_01_Component"
                [ShowDimensions]="true"
                [WindowWidth]="'var(--small-1-2)'"
                [MinWindowWidth]="'48px'"
                [WindowHeight]="'var(--tiny-1-2)'"
                [MinWindowHeight]="'150px'"
            ></demonstration-frame>

        </article>

        <p class="srcryTxt textContent">
            Though the <strong>box size</strong> library is being used in this instance you can still use all the other css units to define the <strong>baseSize-w</strong> and <strong>baseSize-h</strong> properties&#46;  The following example shows this being done with <strong>ch</strong> units with the font size being set to a <strong>text-size</strong> value&#46;
        </p>

        <article class="demonstrationContainer">

            <code-display [Language]="'css'" [Code]="Demo_02" />
    
            <demonstration-frame
                [Demonstration]="Demo_02_Component"
                [ShowDimensions]="true"
                [WindowWidth]="'var(--small-1-2)'"
                [MinWindowWidth]="'98px'"
                [WindowHeight]="'var(--tiny-1-2)'"
                [MinWindowHeight]="'150px'"
            ></demonstration-frame>

        </article>

        <p class="srcryTxt textContent">
            As mentioned on the overview page&#44; there may be times when the size you&#39;re going for is in between two sizes which is why the <strong>nudge</strong> properties were created&#46;  The following example shows how these properties impact the overall size&#46;  The orange portion shows the amount contributed by the <strong>nudge-chunk</strong> property and the green portion shows the amount contributed by the <strong>nudge-slice</strong> property&#46;
        </p>

        <article class="demonstrationContainer">

            <code-display [Language]="'css'" [Code]="Demo_03" />
    
            <demonstration-frame
                [Demonstration]="Demo_03_Component"
                [BroadcastName]="'baseSizeExample'"
                [ChannelName]="'baseSizeNudgeA'"
                [TargetName]="'baseSizeNudgeAController'"
                [ShowDimensions]="true"
                [WindowWidth]="'var(--small-1-2)'"
                [MinWindowWidth]="'98px'"
                [WindowHeight]="'var(--tiny-1-2)'"
                [MinWindowHeight]="'150px'"
            >
    
                <base-size-c-readout
                    controlArea
                    [BroadcastName]="'baseSizeExample'"
                    [ChannelName]="'baseSizeNudgeAController'"
                    [TargetName]="'baseSizeNudgeA'"
                />
    
            </demonstration-frame>

        </article>

        <p class="srcryTxt textContent">
            As you can see the <strong>nudge</strong> properties add a few extra pixels to the overall size of the element&#46;  Not only can you add to the size of your element but you can also subtract from it by using negative values as shown below&#46;
        </p>

        <article class="demonstrationContainer">

            <code-display [Language]="'css'" [Code]="Demo_04" />
    
            <demonstration-frame
                [Demonstration]="Demo_04_Component"
                [BroadcastName]="'baseSizeExample'"
                [ChannelName]="'baseSizeNudgeB'"
                [TargetName]="'baseSizeNudgeBController'"
                [ShowDimensions]="true"
                [WindowWidth]="'var(--small-1-2)'"
                [MinWindowWidth]="'98px'"
                [WindowHeight]="'var(--tiny-1-2)'"
                [MinWindowHeight]="'150px'"
            >
    
                <base-example-d-readout
                    controlArea
                    [BroadcastName]="'baseSizeExample'"
                    [ChannelName]="'baseSizeNudgeBController'"
                    [TargetName]="'baseSizeNudgeB'"
                />
    
            </demonstration-frame>

        </article>

        <p class="srcryTxt textContent">
            For clarity&#44; the ligther dashed portion of the box is the amount subtracted from the original size while the solid portion is the resulting width of your element&#46;  To get a better feel for how these properties work together&#44; use the following demonstration to explore the results of different settings&#46;
        </p>

        <article class="demonstrationContainer">

            <demonstration-frame
                [Demonstration]="Demo_05_Component"
                [BroadcastName]="'baseSizeExample'"
                [ChannelName]="'baseSizeAnalyzer'"
                [TargetName]="'baseSizeAnalyzerController'"
                [ShowDimensions]="true"
                [WindowWidth]="'var(--small-1-2)'"
                [MinWindowWidth]="'98px'"
                [WindowHeight]="'var(--tiny-1-2)'"
                [MinWindowHeight]="'150px'"
            >
                <base-size-analyzer-controller
                    controlArea
                    [BroadcastName]="'baseSizeExample'"
                    [ChannelName]="'baseSizeAnalyzerController'"
                    [TargetName]="'baseSizeAnalyzer'"
                />
            </demonstration-frame>
            
        </article>

    </article>

    <paginate [PageData]="Pagination" />
</section>