footer{
    display: grid;
    background-color: hsl(var(--purple-500), 1);
    min-height: var(--loMed-1-4);
}

.background{
    grid-area: 1/1/2/2;
    z-index: 1;
}

.mainContainer{
    grid-area: 1/1/2/2;
    z-index: 2;
    display: grid;
    row-gap: var(--line-thick);
    grid-template-rows: 1fr var(--xTiny-2-4) var(--xTiny-1-4);
}

.toolContainer{
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
}

.iconContainer{
    display: grid;
    grid-auto-flow: column;
    width: max-content;
    place-self: center;
    place-items: center;
}

.toolTitle{
    grid-area: 1/1/2/2;
    --text-size: var(--text-caption-2);
    --kerning-nudge-amt: 6;
    color: hsl(var(--purple-200), 1);
    place-self: center;
    text-align: center;
}

.icon{
    display: block;
    width: var(--xTiny-1-7);
    height: var(--xTiny-1-7);
    fill: hsl(var(--purple-200), 1);
}

.copyrightContainer{
    grid-area: 3/1/4/2;
    display: grid;
    width: 100%;
    place-items: center;
}


.copyrightText{
    --text-size: var(--text-caption-3);
    --kerning-nudge-amt: 6;
    color: hsl(var(--purple-100), 1);
    font-weight: 200;
}