<section class="pageContainer">

    <h1 class="srcryTxt pageTitle">Box Size Library</h1>

    <section class="contentContainer">
        <p class="srcryTxt textContent">
            The box size library is a collection of 198 flexible settings which can be used to define the width and height of your elements as well as margins and padding&#46;  These settings are organized into nine sizes that each have two scales and eleven growth speeds to make using them intuitive and simple&#46;  Before we go any further lets explain what each of these parts are&#46;
        </p>

        <section class="definitionContainer">

            <article class="definition">
                <h2 class="srcryTxt definitionTitle">Size</h2>
                <p class="srcryTxt definitionText">
                    The 9 sizes are called <strong>micro&#44; xTiny&#44; tiny&#44; xSmall&#44; small&#44; loMed&#44; hiMed&#44; large</strong> and <b>jumbo</b>.  Seeing that they&#39;re designed to be adaptable each name should be regarded as a relative range of sizes rather than exact pixel values&#46;
                </p>
            </article>
            
            <article class="definition">
                <h2 class="srcryTxt definitionTitle">Scale</h2>
                <p class="srcryTxt definitionText">
                    The scale settings are used to broaden the range of each size by providing two core sizes to scale from&#46;  This is applied by simply adding a <strong>1</strong> or <strong>2</strong> to the size definition&#46;
                </p>
            </article>
            
            <article class="definition">
                <h2 class="srcryTxt definitionTitle">Speed</h2>
                <p class="srcryTxt definitionText">
                    The speed setting controls how subtly or drastically the element will scale up and down with the size of the screen&#46;  This is applied by adding a number between <strong>1</strong> and <strong>11</strong> to the size definition&#46;
                </p>
            </article>

        </section>

        <p class="srcryTxt textContent">
            Combining these parts into a usable box size property is done with the following syntax&#46;
        </p>

        <syntax-frame [Parts]="['size', 'scale', 'speed']" />

        <p class="srcryTxt textContent">
            To show how this works look at the width and height settings in the following code then resize the window underneath it to see how the element scales&#46;
        </p>

        <pre class="srcryTxt codeFrame">
            <code
                [highlight]="Demo_01"
                [languages]="['css']"
                [lineNumbers]="true"
            >
            </code>
        </pre>

        <demonstration-frame
            class="demonstrationFrame"
            [Demonstration]="Demo_01Component"
            [ShowDimensions]="true"
            [MinWindowWidth]="'220px'"
            [WindowWidth]="'var(--loMed-1-3)'"
            [MinWindowHeight]="'153px'"
            [WindowHeight]="'var(--xTiny-2-2)'"
        ></demonstration-frame>

        <p class="srcryTxt textContent">
            The example above shows an element that uses higher speed settings for the <strong>width</strong> and <strong>height</strong> properties which causes the element to expand and contract drastically with the screen&#46;  Lets see what happens with the same exact size and scale but with lower speed settings&#46; 
        </p>

        <pre class="srcryTxt codeFrame">
            <code
                [highlight]="Demo_02"
                [languages]="['css']"
                [lineNumbers]="true"
            >
            </code>
        </pre>

        <demonstration-frame
            class="demonstrationFrame"
            [Demonstration]="Demo_02Component"
            [ShowDimensions]="true"
            [MinWindowWidth]="'220px'"
            [WindowWidth]="'var(--loMed-1-3)'"
            [MinWindowHeight]="'153px'"
            [WindowHeight]="'var(--xTiny-2-2)'"
        ></demonstration-frame>

        <p class="srcryTxt textContent">
            As you can see&#44; the blue box barely expands or contracts when you resize the window&#46;  This is due to the lower speed settings which shows the range of flexibility you can apply to your size definitions&#46;
        </p>
        
        <p class="srcryTxt textContent">
            To better understand how these settings are designed to work&#44; use the following demonstration to test the variations and how they scale when you resize the frame&#46;  The orange portion represents the core pixel value of the selected size and the green portion represents the amount of adaptation that occurs as the screen expands and contracts&#46;
        </p>
    
        <demonstration-frame
            class="demonstrationFrame"
            [Demonstration]="Demo_03Component"
            [BroadcastName]="'boxSizeChannel'"
            [ChannelName]="'boxAnalyzerChannel'"
            [ShowDimensions]="true"
            [MinWindowWidth]="'220px'"
            [WindowWidth]="'var(--loMed-1-3)'"
            [MinWindowHeight]="'153px'"
            [WindowHeight]="'var(--xTiny-2-2)'"
        >
            <analyzer-input
                controlArea
                [BroadcastName]="'boxSizeChannel'"
                [ChannelName]="'boxAnalyzerChannel'"
            />
        </demonstration-frame>
    
        <p class="srcryTxt textContent">
            Now that you&#39;ve experimented with a few settings to see what the results are you&#39;re probably wondering what core pixel values are used for each size&#46;  The chart below shows these values so you can better rationalize the best way to use them in your projects&#46;
        </p>

        <table class="srcryTxt sizeChart">
            <tr class="headerRow">
                <th class="headerLabel">size</th>
                <th class="headerLabel">scale 1</th>
                <th class="headerLabel">scale 2</th>
            </tr>
            <tr>
                <th class="columnHeader">micro</th>
                <td class="valueCell">4px</td>
                <td class="valueCell">11px</td>
            </tr>
            <tr>
                <th class="columnHeader">xTiny</th>
                <td class="valueCell">18px</td>
                <td class="valueCell">29px</td>
            </tr>
            <tr>
                <th class="columnHeader">tiny</th>
                <td class="valueCell">47px</td>
                <td class="valueCell">76px</td>
            </tr>
            <tr>
                <th class="columnHeader">xSmall</th>
                <td class="valueCell">97px</td>
                <td class="valueCell">123px</td>
            </tr>
            <tr>
                <th class="columnHeader">small</th>
                <td class="valueCell">157px</td>
                <td class="valueCell">199px</td>
            </tr>
            <tr>
                <th class="columnHeader">loMed</th>
                <td class="valueCell">254px</td>
                <td class="valueCell">322px</td>
            </tr>
            <tr>
                <th class="columnHeader">hiMed</th>
                <td class="valueCell">521px</td>
                <td class="valueCell">843px</td>
            </tr>
            <tr>
                <th class="columnHeader">large</th>
                <td class="valueCell">1078px</td>
                <td class="valueCell">1364px</td>
            </tr>
            <tr>
                <th class="columnHeader">jumbo</th>
                <td class="valueCell">1744px</td>
                <td class="valueCell">2207px</td>
            </tr>
        </table>

        <p class="srcryTxt textContent">
            To make these sizes even more useful Srcry provides negative values for each size which can be used simply by adding a &#34;<strong>-</strong>&#34; at the end of the size definition&#46;  This is perfect for animations or if you&#39;re positioning your elements with <strong>absolute</strong>&#44; <strong>relative</strong> or <strong>fixed</strong>&#46;  Below is an example of how you can use these negative values&#46;
        </p>
    
        <pre class="srcryTxt codeFrame">
            <code
                [highlight]="Demo_04"
                [languages]="['css']"
                [lineNumbers]="true"
            >
            </code>
        </pre>

        <p class="srcryTxt textContent">
            Make note of how the <strong>left</strong> and <strong>top</strong> properties have a &#34;<strong>-</strong>&#34; at the end while the <strong>width</strong> and <strong>height</strong> properties don&#39;t&#46;  That&#39;s all it takes to use the box sizes as negative values should you find yourself needing to do such a thing&#46;
        </p>
        
        <p class="srcryTxt textContent">
            The box size library becomes even more powerful with the <strong>srcryBox</strong> class which will be shown later on but is flexible enough on it&#39;s own to handle a lot of common use cases&#46;
        </p>

    </section>

    <section class="paginationContainer">
        <paginate [PageData]="Pagination" />
    </section>

</section>