:host{
    display: grid;
    width: var(--small-1-4);
    background-color: hsl(var(--gray-100), 1);
    box-shadow: var(--line-bold) 0 var(--line-semiThick) hsl(var(--gray-800), .44);
    overflow-x: hidden;
}

.mainContainer{
    display: grid;
    grid-template-rows: var(--xTiny-1-3) auto;
    grid-template-columns: 1fr;
    padding: var(--micro-1-4);
}

.closeButton{
    justify-self: right;
    cursor: pointer;
}