:host{
    display: grid;
    width: var(--small-1-4);
    background-color: hsl(var(--gray-100), 1);
    box-shadow: var(--line-bold) 0 var(--line-semiThick) hsl(var(--gray-800), .44);
    overflow-x: hidden;
}

.mainContainer{
    display: grid;
    grid-template-rows: var(--xTiny-1-3) auto;
    gap: var(--micro-2-4);
    grid-template-columns: 1fr;
}

.closeButton{
    grid-area: 1/1/2/2;
    justify-self: right;
    cursor: pointer;
    margin: var(--micro-1-4) var(--micro-1-4) var(--micro-1-4) 0;
}

.linkContainer{
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    height: min-content;
}

.divider{
    display: block;
    height: var(--line-light);
    background-color: hsl(var(--gray-200), .22);
    width: 100%;
}