<section class="pageContainer">

    <h1 class="srcryTxt pageTitle">Crush Gap</h1>

    <article class="contentContainer">
        <p class="srcryTxt textContent">
            There will be times where you app or website will be used on screens that are smaller than the <b>baseSize</b> of your element.  In order to prevent issues with overflow you can use the <b>crushGap</b> properties to make your elements scale down accordingly.  Simply put, the <b>crushGap</b> is the amount of margin to maintain between the element and the edges of the screen.
        </p>
    </article>

    <paginate [PageData]="Pagination" />

</section>