<section class="pageContainer">

    <h1 class="srcryTxt pageTitle">Crush Gap</h1>

    <article class="contentContainer">
        <p class="srcryTxt textContent">
            There may be times where your app or website will be used on screens that are smaller than the <strong>baseSize</strong> of your element&#46;  In order to prevent issues with overflow you can use the <strong>crushGap</strong> properties to make your elements scale down accordingly&#46;  Simply put&#44; the <strong>crushGap</strong> is the amount of margin to maintain between the element and the edges of the screen&#46;  The chart below outlines the usage of these properties&#46;
        </p>
    </article>

    <article class="contentContainer">
        <prop-chart [ChartData]="PropData" />
    </article>

    <article class="contentContainer">

        <article class="demonstrationContainer">

            <code-display [Language]="'css'" [Code]="Demo_01" />

            <demonstration-frame
                [Demonstration]="Demo_01_Component"
                [ShowDimensions]="true"
                [WindowWidth]="'var(--loMed-2-2)'"
                [MinWindowWidth]="'98px'"
                [WindowHeight]="'var(--loMed-2-2)'"
                [MinWindowHeight]="'150px'"
            >
            </demonstration-frame>

        </article>

    </article>

    <article class="contentContainer">

        <p class="srcryTxt textContent">
            To see how this works&#44; use the following demonstration to create your own settings&#46; The box&#39;s <strong>baseSize</strong> properties have been set to a default of <strong>--small-2-4</strong> so you can focus exclusively on the <strong>crushGap</strong> properties&#46;
        </p>

        <article class="demonstrationContainer">

            <demonstration-frame
                [Demonstration]="Demo_02_Component"
                [BroadcastName]="'CrushGapAnalyzer'"
                [ChannelName]="'CrushGapDemoB'"
                [TargetName]="'CrushGapDemoBController'"
                [ShowDimensions]="true"
                [WindowWidth]="'var(--loMed-2-2)'"
                [MinWindowWidth]="'98px'"
                [WindowHeight]="'var(--loMed-2-2)'"
                [MinWindowHeight]="'150px'"
            >
                <crush-gap-controller
                    controlArea
                    [BroadcastName]="'CrushGapAnalyzer'"
                    [ChannelName]="'CrushGapDemoBController'"
                    [TargetName]="'CrushGapDemoB'"
                />
            </demonstration-frame>

        </article>

    </article>

    <paginate [PageData]="Pagination" />

</section>