<section class="mainContainer">

    <article class="dimensionToggleContainer">
        <button
            class="srcryTxt dimensionToggleButton"
            type="button"
            (click)="dimensionToggler(false)"
            [ngClass]="!DimensionToggle ? 'togglerActive' : 'togglerInnactive'"
        >
            width
        </button>

        <button
            class="srcryTxt dimensionToggleButton"
            type="button"
            (click)="dimensionToggler(true)"
            [ngClass]="DimensionToggle ? 'togglerActive' : 'togglerInnactive'"
        >
            height
        </button>
    </article>

    <section class="dimensionContainer">

        <section
            class="propSelector widthProps"
            [ngClass]="!DimensionToggle ? 'dimensionActive' : 'dimensionInnactive'"
        >
            <article class="propContainer">
                <srcry-prop-button
                    class="propButton"
                    [Prop]="'--edgeChase-w'"
                    [Active]="PropButtonsActive"
                    [Value]="makeIntoVariable(PropSettings.edgeChaseW)"
                    [SelectorStatus]="SelectorStatus"
                    (SelectionToggle)="toggleEdgeChaseW()"
                    (UpdateActive)="updatePropButtons($event)"
                />

                <article
                    class="selectorContainer"
                    [ngClass]="ToggleEdgeChaseW ? 'selectorOpen' : 'selectorClosed'"
                >
                    <box-size-selector
                        [DefaultSettings]="DefaultSettings.edgeChaseW"
                        class="selector"
                        [ngClass]="ToggleEdgeChaseW ? 'propContainerActive' : 'propContainerInnactive'"
                        (UpdateSelection)="updateEdgeChaseW($event)"
                        (UpdateStatus)="updateSelectorStatus($event)"
                    />
                </article>
            </article>

            <article class="propContainer">
                <srcry-prop-button
                    class="propButton"
                    [Prop]="'--edgeChase-w-nudge-chunk'"
                    [Active]="PropButtonsActive"
                    [Value]="PropSettings.edgeChaseWNudgeChunk"
                    [SelectorStatus]="SelectorStatus"
                    (SelectionToggle)="toggleEdgeChaseWNudgeChunk()"
                    (UpdateActive)="updatePropButtons($event)"
                />

                <article
                    class="selectorContainer"
                    [ngClass]="ToggleEdgeChaseWNudgeChunk ? 'selectorOpen' : 'selectorClosed'"
                >
                    <number-input
                        [DefaultSetting]="DefaultSettings.edgeChaseWNudgeChunk"
                        [ngClass]="ToggleEdgeChaseWNudgeChunk ? 'propContainerActive' : 'propContainerInnactive'"
                        (UpdateSize)="updateEdgeChaseWNudgeChunk($event)"
                    />
                </article>
            </article>
            
            <article class="propContainer">
                <srcry-prop-button
                    class="propButton"
                    [Prop]="'--edgeChase-w-nudge-slice'"
                    [Active]="PropButtonsActive"
                    [Value]="PropSettings.edgeChaseWNudgeSlice"
                    [SelectorStatus]="SelectorStatus"
                    (SelectionToggle)="toggleEdgeChaseWNudgeSlice()"
                    (UpdateActive)="updatePropButtons($event)"
                />

                <article
                    class="selectorContainer"
                    [ngClass]="ToggleEdgeChaseWNudgeSlice ? 'selectorOpen' : 'selectorClosed'"
                >
                    <number-input
                        [DefaultSetting]="DefaultSettings.edgeChaseWNudgeSlice"
                        [ngClass]="ToggleEdgeChaseWNudgeSlice ? 'propContainerActive' : 'propContainerInnactive'"
                        (UpdateSize)="updateEdgeChaseWNudgeSlice($event)"
                    />
                </article>
            </article>
            
            <article class="propContainer">
                <srcry-prop-button
                    class="propButton"
                    [Prop]="'--chaseStop-w'"
                    [Active]="PropButtonsActive"
                    [Value]="makeIntoVariable(PropSettings.chaseStopW)"
                    [SelectorStatus]="SelectorStatus"
                    (SelectionToggle)="toggleChaseStopW()"
                    (UpdateActive)="updatePropButtons($event)"
                />

                <article
                    class="selectorContainer"
                    [ngClass]="ToggleChaseStopW ? 'selectorOpen' : 'selectorClosed'"
                >
                    <box-size-selector
                        [DefaultSettings]="DefaultSettings.chaseStopW"
                        class="selector"
                        [ngClass]="ToggleChaseStopW ? 'propContainerActive' : 'propContainerInnactive'"
                        (UpdateSelection)="updateChaseStopW($event)"
                        (UpdateStatus)="updateSelectorStatus($event)"
                    />
                </article>
            </article>

            <article class="propContainer">
                <srcry-prop-button
                    class="propButton"
                    [Prop]="'--chaseStop-w-nudge-chunk'"
                    [Active]="PropButtonsActive"
                    [Value]="PropSettings.chaseStopWNudgeChunk"
                    [SelectorStatus]="SelectorStatus"
                    (SelectionToggle)="toggleChaseStopWNudgeChunk()"
                    (UpdateActive)="updatePropButtons($event)"
                />

                <article
                    class="selectorContainer"
                    [ngClass]="ToggleChaseStopWNudgeChunk ? 'selectorOpen' : 'selectorClosed'"
                >
                    <number-input
                        [DefaultSetting]="DefaultSettings.chaseStopWNudgeChunk"
                        [ngClass]="ToggleChaseStopWNudgeChunk ? 'propContainerActive' : 'propContainerInnactive'"
                        (UpdateSize)="updateChaseStopWNudgeChunk($event)"
                    />
                </article>
            </article>
            
            <article class="propContainer">
                <srcry-prop-button
                    class="propButton"
                    [Prop]="'--chaseStop-w-nudge-slice'"
                    [Active]="PropButtonsActive"
                    [Value]="PropSettings.chaseStopWNudgeSlice"
                    [SelectorStatus]="SelectorStatus"
                    (SelectionToggle)="toggleChaseStopWNudgeSlice()"
                    (UpdateActive)="updatePropButtons($event)"
                />

                <article
                    class="selectorContainer"
                    [ngClass]="ToggleChaseStopWNudgeSlice ? 'selectorOpen' : 'selectorClosed'"
                >
                    <number-input
                        [DefaultSetting]="DefaultSettings.edgeChaseWNudgeSlice"
                        [ngClass]="ToggleChaseStopWNudgeSlice ? 'propContainerActive' : 'propContainerInnactive'"
                        (UpdateSize)="updateChaseStopWNudgeSlice($event)"
                    />
                </article>
            </article>
        </section>

        <section
            class="propSelector heightProps"
            [ngClass]="DimensionToggle ? 'dimensionActive' : 'dimensionInnactive'"
        >
            <article class="propContainer">
                <srcry-prop-button
                    class="propButton"
                    [Prop]="'--edgeChase-h'"
                    [Active]="PropButtonsActive"
                    [Value]="makeIntoVariable(PropSettings.edgeChaseH)"
                    [SelectorStatus]="SelectorStatus"
                    (SelectionToggle)="toggleEdgeChaseH()"
                    (UpdateActive)="updatePropButtons($event)"
                />

                <article
                    class="selectorContainer"
                    [ngClass]="ToggleEdgeChaseH ? 'selectorOpen' : 'selectorClosed'"
                >
                    <box-size-selector
                        [DefaultSettings]="DefaultSettings.edgeChaseH"
                        class="selector"
                        [ngClass]="ToggleEdgeChaseH ? 'propContainerActive' : 'propContainerInnactive'"
                        (UpdateSelection)="updateEdgeChaseH($event)"
                        (UpdateStatus)="updateSelectorStatus($event)"
                    />
                </article>
            </article>

            <article class="propContainer">
                <srcry-prop-button
                    class="propButton"
                    [Prop]="'--edgeChase-h-nudge-chunk'"
                    [Active]="PropButtonsActive"
                    [Value]="PropSettings.edgeChaseHNudgeChunk"
                    [SelectorStatus]="SelectorStatus"
                    (SelectionToggle)="toggleEdgeChaseHNudgeChunk()"
                    (UpdateActive)="updatePropButtons($event)"
                />

                <article
                    class="selectorContainer"
                    [ngClass]="ToggleEdgeChaseHNudgeChunk ? 'selectorOpen' : 'selectorClosed'"
                >
                    <number-input
                        [DefaultSetting]="DefaultSettings.edgeChaseHNudgeChunk"
                        [ngClass]="ToggleEdgeChaseHNudgeChunk ? 'propContainerActive' : 'propContainerInnactive'"
                        (UpdateSize)="updateEdgeChaseHNudgeChunk($event)"
                    />
                </article>
            </article>
            
            <article class="propContainer">
                <srcry-prop-button
                    class="propButton"
                    [Prop]="'--edgeChase-h-nudge-slice'"
                    [Active]="PropButtonsActive"
                    [Value]="PropSettings.edgeChaseHNudgeSlice"
                    [SelectorStatus]="SelectorStatus"
                    (SelectionToggle)="toggleEdgeChaseHNudgeSlice()"
                    (UpdateActive)="updatePropButtons($event)"
                />

                <article
                    class="selectorContainer"
                    [ngClass]="ToggleEdgeChaseHNudgeSlice ? 'selectorOpen' : 'selectorClosed'"
                >
                    <number-input
                        [DefaultSetting]="DefaultSettings.edgeChaseHNudgeSlice"
                        [ngClass]="ToggleEdgeChaseHNudgeSlice ? 'propContainerActive' : 'propContainerInnactive'"
                        (UpdateSize)="updateEdgeChaseHNudgeSlice($event)"
                    />
                </article>
            </article>
            
            <article class="propContainer">
                <srcry-prop-button
                    class="propButton"
                    [Prop]="'--chaseStop-h'"
                    [Active]="PropButtonsActive"
                    [Value]="makeIntoVariable(PropSettings.chaseStopH)"
                    [SelectorStatus]="SelectorStatus"
                    (SelectionToggle)="toggleChaseStopH()"
                    (UpdateActive)="updatePropButtons($event)"
                />

                <article
                    class="selectorContainer"
                    [ngClass]="ToggleChaseStopH ? 'selectorOpen' : 'selectorClosed'"
                >
                    <box-size-selector
                        [DefaultSettings]="DefaultSettings.chaseStopH"
                        class="selector"
                        [ngClass]="ToggleChaseStopH ? 'propContainerActive' : 'propContainerInnactive'"
                        (UpdateSelection)="updateChaseStopH($event)"
                        (UpdateStatus)="updateSelectorStatus($event)"
                    />
                </article>
            </article>

            <article class="propContainer">
                <srcry-prop-button
                    class="propButton"
                    [Prop]="'--chaseStop-h-nudge-chunk'"
                    [Active]="PropButtonsActive"
                    [Value]="PropSettings.chaseStopHNudgeChunk"
                    [SelectorStatus]="SelectorStatus"
                    (SelectionToggle)="toggleChaseStopHNudgeChunk()"
                    (UpdateActive)="updatePropButtons($event)"
                />

                <article
                    class="selectorContainer"
                    [ngClass]="ToggleChaseStopHNudgeChunk ? 'selectorOpen' : 'selectorClosed'"
                >
                    <number-input
                        [DefaultSetting]="DefaultSettings.chaseStopHNudgeChunk"
                        [ngClass]="ToggleChaseStopHNudgeChunk ? 'propContainerActive' : 'propContainerInnactive'"
                        (UpdateSize)="updateChaseStopHNudgeChunk($event)"
                    />
                </article>
            </article>
            
            <article class="propContainer">
                <srcry-prop-button
                    class="propButton"
                    [Prop]="'--chaseStop-h-nudge-slice'"
                    [Active]="PropButtonsActive"
                    [Value]="PropSettings.chaseStopHNudgeSlice"
                    [SelectorStatus]="SelectorStatus"
                    (SelectionToggle)="toggleChaseStopHNudgeSlice()"
                    (UpdateActive)="updatePropButtons($event)"
                />

                <article
                    class="selectorContainer"
                    [ngClass]="ToggleChaseStopHNudgeSlice ? 'selectorOpen' : 'selectorClosed'"
                >
                    <number-input
                        [DefaultSetting]="DefaultSettings.edgeChaseHNudgeSlice"
                        [ngClass]="ToggleChaseStopHNudgeSlice ? 'propContainerActive' : 'propContainerInnactive'"
                        (UpdateSize)="updateChaseStopHNudgeSlice($event)"
                    />
                </article>
            </article>
        </section>

    </section>

</section>