@import url('src/assets/srcry/srcry.css');
@import url('src/assets/color-defs.css');

:host{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

.box{
    display: block;
    background-color: hsl(var(--blue-300), 1);
    --baseSize-w: var(--width);
    --baseSize-w-nudge-chunk: var(--chunkW);
    --baseSize-w-nudge-slice: var(--sliceW);
    --baseSize-h: var(--height);
    --baseSize-h-nudge-chunk: var(--chunkH);
    --baseSize-h-nudge-slice: var(--sliceH);
}