<section class="mainContainer">
    <section class="propReadings">
        <h3 class="srcryTxt propTitle">Active Properties</h3>
        <article class="propContainer">
            <p class="srcryTxt propText">
                W: <span
                    class="reading"
                    [ngClass]="Readings.activePropW === 'baseSize' ? 'toggleA':'toggleB'"
                   >
                        {{Readings.activePropW}}
                   </span>
            </p>
            <p class="srcryTxt propText">
                H: <span
                    class="reading"
                    [ngClass]="Readings.activePropH === 'baseSize' ? 'toggleA':'toggleB'"
                   >
                        {{Readings.activePropH}}
                   </span>
            </p>
        </article>
    </section>
    <section class="sizeContainer">
        <p class="srcryTxt sizeReading"><b>{{Readings.width}}</b><small>px</small></p>
        <p class="srcryTxt sizeReading"><b>{{Readings.height}}</b><small>px</small></p>
    </section>
</section>