<section class="mainContainer">
    <section class="propReadings">
        <h3 class="srcryTxt propTitle">Active Properties</h3>
        <article class="propContainer">
            <p class="srcryTxt propText">W: <span class="reading">{{Readings.activePropW}}</span></p>
            <p class="srcryTxt propText">H: <span class="reading">{{Readings.activePropH}}</span></p>
        </article>
    </section>
    <section class="sizeContainer">
        <p class="srcryTxt sizeReading">width: <b>{{Readings.width}}</b><small>px</small></p>
        <p class="srcryTxt sizeReading">height: <b>{{Readings.height}}</b><small>px</small></p>
    </section>
</section>