:host{
    display: grid;
    place-items: center;
}

.mainContainer{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    place-items: center;
    gap: 0 var(--line-semiThick);
    background-color: hsl(var(--purple-400), 1);
    color: hsl(var(--purple-100), 1);
    padding: var(--line-narrow) var(--line-semiThick);
    --text-size: var(--text-widget-3);
    --kerning-nudge-amt: 6;
    width: var(--small-1-5);
}

.title{
    font-weight: 400;
}

.dimension{
    font-weight: 600;
}