<section class="srcryBox mainContainer">
    <article class="photoFrame">
        <svg class="placeholderPhoto" viewBox="0 0 180.119 139.794">
            <g transform="translate(-13.59 -66.639)">
                <path fill="hsl(var(--blue-200), 1)" d="M13.591 66.639H193.71v139.794H13.591z"/>
                <path d="m118.507 133.514-34.249 34.249-15.968-15.968-41.938 41.937H178.726z" opacity=".675" fill="hsl(var(--gray-100), 1)"/>
                <circle cx="58.217" cy="108.555" r="11.773" opacity=".675" fill="hsl(var(--blue-100), 1)"/>
            </g>
        </svg>
    </article>

    <article class="descriptionFrame">

        <h2 class="srcryTxt productTitle">Cool Product</h2>

        <p class="srcryTxt productDescription">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, pariatur consequatur, iusto quos placeat numquam, non blanditiis adipisci similique ex dolorum.
        </p>

        <button class="srcryTxt addToCartBtn">
            Add To Cart
        </button>
    </article>
</section>