@import url('src/assets/srcry/srcry.css');
@import url('src/assets/color-defs.css');

.mainContainer{
    display: grid;
    width: 100vw;
    height: 100vh;
    place-items: center;
}

.box{
    --crushGap-w: var(--xTiny-1-4);
    --baseSize-w: var(--loMed-1-4);
    --crushGap-h: var(--xTiny-1-4);
    --baseSize-h: var(--loMed-1-4);
    background-color: hsl(var(--blue-300), 1);
}