<section class="pageContainer">

    <h1 class="srcryTxt pageTitle">Squish Growth</h1>

    <article class="contentContainer">
        <p class="srcryTxt textContent">
            The <strong>squishGrowth</strong> properties are used to make an element&#39;s dimensions expand as the screen size shrinks&#46;  For example&#44; the <strong>squishGrowth-h</strong> properties make the height of the element increase as the width of the screen decreases and the <strong>squishGrowth-w</strong> properties makes the width of the element increase as the height of the screen decreases&#46;
        </p>

        <p class="srcryTxt textContent">
            This functionality can be useful for handling a lot of the changes we typically make to our layouts when transitioning from mobile to tablets and laptops&#46;  If you recall on the introduction page there&#39;s a demonstration of a navbar that grows taller when you decrease the width of the frame, that was done with the <strong>squishGrowth</strong> property&#46;  Below is a chart of all the <strong>squishGrowth</strong> properties and how they&#39;re to be used&#46;
        </p>
    </article>

    <article class="contentContainer">
        <prop-chart [ChartData]="ChartData" />
    </article>

    <article class="contentContainer">
        <p class="srcryTxt textContent">
            The following example demonstrates the <strong>squishGrowth-w</strong> properties to show how they work&#46;
        </p>

        <article class="demonstrationContainer">

            <code-display
                [Code]="Demo01Code"
                [Language]="'css'"
            />

            <demonstration-frame
                [Demonstration]="DemoComponent01"
                [AnalyticsName]="'Demo01WindowTrigger'"
                [ShowDimensions]="true"
                [WindowWidth]="'var(--loMed-2-7)'"
                [MinWindowWidth]="'98px'"
                [WindowHeight]="'var(--large-1-7)'"
                [MinWindowHeight]="'150px'"
                [BroadcastName]="'SquishGrowthChannel'"
                [ChannelName]="'SquishGrowthDemoA'"
                [TargetName]="'SquishGrowthControllerA'"
                (AnalyticsTrigger)="analyticsTrigger($event)"
            >
                <squish-growth-example-a-controller
                    controlArea
                    [BroadcastName]="'SquishGrowthChannel'"
                    [ChannelName]="'SquishGrowthControllerA'"
                    [TargetName]="'SquishGrowthDemoA'"
                />
            </demonstration-frame>

        </article>
    </article>

    <article class="contentContainer">
        <p class="srcryTxt textContent">
            The <strong>squishGrowth-h</strong> properties work the same exact way with the exception of the element&#39;s height increasing as the width of the page decreases&#46;  The following demonstration allows you to experiment with both properties to see the results&#46;
        </p>

        <article class="demonstrationContainer">
            <demonstration-frame
                [Demonstration]="DemoComponent02"
                [ShowDimensions]="true"
                [BroadcastName]="'SquishGrowthChannel'"
                [ChannelName]="'SquishGrowthDemo02'"
                [TargetName]="'SquishGrowthAnalyzerController'"
                [AnalyticsName]="'Demo02WindowTrigger'"
                [WindowWidth]="'var(--large-1-5)'"
                [MinWindowWidth]="'98px'"
                [WindowHeight]="'var(--large-1-5)'"
                [MinWindowHeight]="'150px'"
                (AnalyticsTrigger)="analyticsTrigger($event)"
            >
                <squish-growth-analyzer-controller
                    controlArea
                    [BroadcastName]="'SquishGrowthChannel'"
                    [ChannelName]="'SquishGrowthAnalyzerController'"
                    [TargetName]="'SquishGrowthDemo02'"
                />
            </demonstration-frame>
        </article>
    </article>

    <paginate [PageData]="Pagination" />
</section>