<section class="mainContainer">

    <section class="widthContainer dimensionContainer">
        <h2 class="srcryTxt dimensionTitle">width dimensions</h2>
        <article class="readingContainer baseReading">
            <h3 class="srcryTxt readingTitle">core</h3>
            <p class="srcryTxt readingText">{{Readings.baseSizeW}}<small>px</small></p>
        </article>
        <article class="readingContainer growthReading">
            <h3 class="srcryTxt readingTitle">growth</h3>
            <p class="srcryTxt readingText">{{Readings.growthSizeW}}<small>px</small></p>
        </article>
        <article class="readingContainer fullReading">
            <h3 class="srcryTxt readingTitle">full</h3>
            <p class="srcryTxt readingText">{{Readings.fullSizeW}}<small>px</small></p>
        </article>
    </section>

    <section class="heightContainer dimensionContainer">
        <h2 class="srcryTxt dimensionTitle">height dimensions</h2>
        <article class="readingContainer baseReading">
            <h3 class="srcryTxt readingTitle">core</h3>
            <p class="srcryTxt readingText">{{Readings.baseSizeW}}<small>px</small></p>
        </article>
        <article class="readingContainer growthReading">
            <h3 class="srcryTxt readingTitle">growth</h3>
            <p class="srcryTxt readingText">{{Readings.growthSizeW}}<small>px</small></p>
        </article>
        <article class="readingContainer fullReading">
            <h3 class="srcryTxt readingTitle">full</h3>
            <p class="srcryTxt readingText">{{Readings.fullSizeW}}<small>px</small></p>
        </article>
    </section>

</section>