:host{
    display: grid;
    place-items: center;
    width: 100%;
    margin-bottom: var(--xTiny-1-3);
}

.mainContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: var(--line-thick) 0;
    width: 100%;
    height: 100%;
    place-items: center;
}

.titleText{
    --text-size: var(--widget-3);
    color: hsl(var(--purple-300), 1);
}

.readingText{
    --text-size: var(--text-article-1);
    color: hsl(var(--purple-400), 1);
}