:root{
    /*Color Defs*/
    
    --gray-100: 0, 0%, 94%;
    --gray-200: 0, 0%, 72%;
    --gray-300: 0, 0%, 53%;
    --gray-400: 0, 0%, 38%;
    --gray-500: 0, 0%, 25%;
    --gray-600: 0, 0%, 22%;
    --gray-700: 0, 0%, 16%;
    --gray-800: 0, 0%, 13%;
    --gray-900: 0, 0%, 8%;
    
    --purple-hue: 277.54;
    --purple-100: var(--purple-hue), 44%, 95%;
    --purple-200: var(--purple-hue), 42%, 77%;
    --purple-300: var(--purple-hue), 39%, 61%;
    --purple-400: var(--purple-hue), 41%, 46%;
    --purple-500: var(--purple-hue), 61%, 34%;
    --purple-600: var(--purple-hue), 67%, 27%;
    --purple-700: var(--purple-hue), 74%, 21%;
    --purple-800: var(--purple-hue), 80%, 16%;
    --purple-900: var(--purple-hue), 89%, 11%;
    
    --blue-hue: 217.54;
    --blue-100: var(--blue-hue), 44%, 95%;
    --blue-200: var(--blue-hue), 45%, 76%;
    --blue-300: var(--blue-hue), 47%, 59%;
    --blue-400: var(--blue-hue), 46%, 43%;
    --blue-500: var(--blue-hue), 64%, 30%;
    --blue-600: var(--blue-hue), 76%, 26%;
    --blue-700: var(--blue-hue), 84%, 19%;
    --blue-800: var(--blue-hue), 81%, 14%;
    --blue-900: var(--blue-hue), 88%, 10%;
    
    --green-hue: 158;
    --green-100: var(--green-hue), 35%, 94%;
    --green-200: var(--green-hue), 47%, 60%;
    --green-300: var(--green-hue), 42%, 41%;
    --green-400: var(--green-hue), 41%, 30%;
    --green-500: var(--green-hue), 100%, 15%;
    --green-600: var(--green-hue), 83%, 14%;
    --green-700: var(--green-hue), 100%, 9%;
    --green-800: var(--green-hue), 80%, 8%;
    --green-900: var(--green-hue), 84%, 5%;
    
    --yellow-hue: 55;
    --yellow-100: var(--yellow-hue), 35%, 94%;
    --yellow-200: var(--yellow-hue), 48%, 53%;
    --yellow-300: var(--yellow-hue), 31%, 42%;
    --yellow-400: var(--yellow-hue), 67%, 24%;
    --yellow-500: var(--yellow-hue), 100%, 14%;
    --yellow-600: var(--yellow-hue), 71%, 14%;
    --yellow-700: var(--yellow-hue), 76%, 10%;
    --yellow-800: var(--yellow-hue), 78%, 7%;
    --yellow-900: var(--yellow-hue), 90%, 4%;
    
    --orange-hue: 27;
    --orange-100: var(--orange-hue), 44%, 95%;
    --orange-200: var(--orange-hue), 42%, 77%;
    --orange-300: var(--orange-hue), 39%, 61%;
    --orange-400: var(--orange-hue), 41%, 46%;
    --orange-500: var(--orange-hue), 61%, 34%;
    --orange-600: var(--orange-hue), 67%, 27%;
    --orange-700: var(--orange-hue), 74%, 21%;
    --orange-800: var(--orange-hue), 80%, 16%;
    --orange-900: var(--orange-hue), 89%, 11%;
    
    --red-hue: 0;
    --red-100: var(--red-hue), 44%, 95%;
    --red-200: var(--red-hue), 39%, 59%;
    --red-300: var(--red-hue), 38%, 61%;
    --red-400: var(--red-hue), 43%, 44%;
    --red-500: var(--red-hue), 76%, 29%;
    --red-600: var(--red-hue), 68%, 25%;
    --red-700: var(--red-hue), 83%, 18%;
    --red-800: var(--red-hue), 80%, 14%;
    --red-900: var(--red-hue), 88%, 10%;
    
    --gray-hue: 0;
    --gray-100: var(--red-hue), 0%, 94%;
    --gray-200: var(--gray-hue), 0%, 72%;
    --gray-300: var(--gray-hue), 0%, 53%;
    --gray-400: var(--gray-hue), 0%, 38%;
    --gray-500: var(--gray-hue), 0%, 25%;
    --gray-600: var(--gray-hue), 0%, 22%;
    --gray-700: var(--gray-hue), 0%, 16%;
    --gray-800: var(--gray-hue), 0%, 13%;
    --gray-900: var(--gray-hue), 0%, 8%;
}