@import url('./assets/srcry/srcry.css');
@import url('./assets/color-defs.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.pageContainer{
    display: grid;
    padding: var(--tiny-2-4) 0;
    justify-content:center;
    grid-auto-rows: auto;
    gap: var(--tiny-2-4) 0;
    background-color: hsl(var(--gray-100), 1);
}

.pageTitle{
    text-align: center;
    font-weight: 600;
    --text-size: var(--text-headline-1);
    --kerning-nudge-amt: 6;
    --leading-nudge-amt: -33;
    color: hsl(var(--purple-700), 1);
}

.contentContainer{
    display: grid;
    place-self: center;
    gap: var(--xTiny-2-3) 0;
}

.definitionContainer{
    display: grid;
    grid-auto-rows: auto;
    gap: var(--xTiny-2-3) 0;
    background-color: hsl(var(--purple-200), .11);
    padding: var(--xTiny-1-4);
    justify-self: center;
}

.textContent{
    width: 92vw;
    max-width: 77ch;
    --text-size: var(--text-article-1);
    --leading-nudge-amt: 38;
    --kerning-nudge-amt: 6;
    color:hsl(var(--purple-700), 1);
    justify-self: center;
}



.sectionTitle{
    text-align: center;
    font-weight: 600;
    --text-size: var(--text-headline-1);
    --kerning-nudge-amt: 6;
    --leading-nudge-amt: -33;
    color: hsl(var(--purple-700), 1);
    width: calc(100% - var(--xTiny-1-4));
    margin-bottom: var(--tiny-1-4);
}

.sectionSubTitle{
    --text-size: var(--text-subtitle-1);
    --kerning-nudge-amt: 6;
    color: hsl(var(--purple-400), 1);
    margin-bottom: var(--xTiny-1-3);
}

.contentSection{
    display: grid;
    width: 100%;
    place-items: center;
    margin-top: var(--tiny-1-5);
}

.paragraphText{
    display: grid;
    width: 92%;
    max-width: 77ch;
    place-self: center;
    --text-size: var(--text-article-1);
    --leading-nudge-amt: 38;
    --kerning-nudge-amt: 6;
    color:hsl(var(--purple-700), 1);
}



.paginationContainer{
    display: grid;
    place-items: center;
}

.codeFrame{
    max-width: 100%;
    justify-self: center;
    --text-size: var(--text-widget-3);
    --kerning-nudge-amt: 6;
    overflow: hidden;
}

.demonstrationContainer{
    justify-self: center;
    display: grid;
    background-color: hsl(var(--gray-200), .11);
    padding: var(--xTiny-1-4);
    gap: var(--xTiny-2-4) 0;
    box-sizing: border-box;
}

.demonstrationTitle{
    --text-size: var(--text-subtitle-1);
    --kerning-nudge-amt: 6;
    color: hsl(var(--purple-400), 1);
}

.controllerContainer{
    display: grid;
    grid-auto-rows: auto;
    gap: var(--line-semiWide);
    background-color: hsl(var(--gray-200), .29);
    border: solid var(--line-light) hsl(var(--gray-200), 1);
    padding: var(--line-semiWide);
}