<section class="pageContainer">
    <h1 class="srcryTxt pageTitle">Leading Nudge Amount</h1>

    <article class="contentContainer">
        <p class="srcryTxt textContent">
            In typography <strong>leading</strong> is the amount of space between each line of text&#46;  The <strong>leading-nudge-amt</strong> property is used to adjust the line height of your text proportionately with your <strong>text-size</strong> setting to improve the readability of your text&#46;
        </p>
    </article>

    <article class="contentContainer">
        <prop-chart [ChartData]="ChartData" />
    </article>

    <article class="contentContainer">
        <p class="srcryTxt textContent">
            Adding the following code to your styling will result as the text in the demonstration below&#46;
        </p>

        <code-display
            [Language]="'css'"
            [Code]="DemonstrationCode01"
        />

        <article class="demonstrationContainer">
            <demonstration-frame
                [Demonstration]="DemonstrationComponent01"
                [AnalyticsName]="'Demo01WindowTrigger'"
                [ShowDimensions]="true"
                [WindowWidth]="'var(--small-1-4)'"
                [MinWindowWidth]="'98px'"
                [WindowHeight]="'var(--small-2-4)'"
                [MinWindowHeight]="'150px'"
                (AnalyticsTrigger)="analyticsTrigger($event)"
            ></demonstration-frame>
        </article>
    </article>

    <article class="contentContainer">
        <p class="srcryTxt textContent">
            Use the following demonstration to try different settings for yourself to better understand how this property works&#46;
        </p>

        <article class="demonstrationContainer">
            <demonstration-frame
                [Demonstration]="DemonstrationComponent02"
                [ShowDimensions]="true"
                [BroadcastName]="'LeadingChannel'"
                [ChannelName]="'LeadingExampleB'"
                [TargetName]="'LeadingController'"
                [AnalyticsName]="'Demo02WindowTrigger'"
                [WindowWidth]="'var(--small-1-4)'"
                [MinWindowWidth]="'98px'"
                [WindowHeight]="'var(--small-2-4)'"
                [MinWindowHeight]="'150px'"
                (AnalyticsTrigger)="analyticsTrigger($event)"
            >
                <leading-controller
                    controlArea
                    [BroadcastName]="'LeadingChannel'"
                    [ChannelName]="'LeadingController'"
                    [TargetName]="'LeadingExampleB'"
                />
            </demonstration-frame>
        </article>
    </article>

    <paginate [PageData]="Pagination" />
</section>