<section class="controlContainer">
    <article class="widthContainer">
        <p class="srcryTxt propReading">
            <b>width</b>
        </p>
        <p class="srcryTxt readingText">{{Readings.activePropW}}</p>
        <p class="srcryTxt size"><b>{{Readings.width}}<small>px</small></b></p>
    </article>
    <article class="heightContainer">
        <p class="srcryTxt propReading">
            <b>height</b>
        </p>
        <p class="srcryTxt readingText">{{Readings.activePropH}}</p>
        <p class="srcryTxt size"><b>{{Readings.height}}<small>px</small></b></p>
    </article>
</section>