@import url('src/assets/srcry/srcry.css');
@import url('src/assets/color-defs.css');

@import url('src/assets/srcry/srcry.css');
@import url('src/assets/color-defs.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{
    display: grid;
    width: 100vw;
    height: 400vh;
    justify-items: center;
    align-items: flex-start;
    overflow-y: scroll;
}


.box{
    --crushGap-w: var(--xTiny-1-4);
    --baseSize-w: var(--loMed-1-4);
    --crushGap-h: var(--xTiny-1-4);
    --baseSize-h: var(--loMed-1-4);
    background-color: hsl(var(--blue-300), 1);
}