:host{
    display: grid;
    place-items: center;
    width: 100%;
}
.mainContainer{
    display: grid;
    grid-template-rows: auto auto;
    background-color: hsl(var(--gray-200), .11);
    border: var(--line-light) solid hsl(var(--gray-200), 1);
    --baseSize-w: var(--loMed-1-8);
}

.readoutContainer{
    grid-area: 1/1/2/2;
    display: grid;
    grid-template-rows: auto auto;
    padding: var(--line-bold) 0;
    background-color: hsl(var(--gray-200), .29);
}

.boxSizeParts{
    grid-area: 1/1/2/2;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
}

.readout{
    display: grid;
    justify-self: center;
    align-self: flex-end;
    justify-items: center;
    height: 100%;
}

.core{
    grid-area: 1/1/2/2;
}

.indicator{
    display: block;
    width: var(--micro-1-3);
    height: var(--micro-1-3);
    align-self: flex-start;
}

.coreIndicator{
    background-color: hsl(var(--orange-200), 1);
}

.growth{
    grid-area: 1/2/2/3;
}

.growthIndicator{
    background-color: hsl(var(--green-300), 1);
}


.full{
    grid-area: 1/3/2/4;
}

.boxSizeText{
    --text-size: var(--text-widget-2);
    --kerning-nudge-amt: 6;
    color: hsl(var(--purple-400), 1);
    align-self: end;
}

.pxText{
    color: hsl(var(--purple-400), 1);
}

.fullWidthText{
    --text-size: var(--text-widget-1);
    --kerning-nudge-amt: 6;
    color: hsl(var(--purple-300), 1);
    align-self: flex-start;
}

.sizeSelector{
    grid-area: 2/1/3/2;
}

.propDisplay{
    grid-area: 3/1/4/2;
}

