<section class="pageContainer">
    <h1 class="srcryTxt pageTitle">Kerning Nudge Amount</h1>

    <article class="contentContainer">
        <p class="srcryTxt textContent">
            In typography <strong>kerning</strong> is the amount of space between each letter&#46;  The <strong>kerning-nudge-amt</strong> property allows you to adjust this spacing to make your text more pleasant to read&#46;  It calculates itself based on the <strong>text-size</strong> property so if you use the <strong>text size library</strong> it will adapt as your text scales&#46;
        </p>
    </article>

    <article class="contentContainer">
        <prop-chart [ChartData]="ChartData" />
    </article>

    <article class="contentContainer">

        <p class="srcryTxt textContent">
            Adding the following code to your styling will result as the text in the demonstration below&#46;
        </p>

        <code-display
            [Language]="'css'"
            [Code]="DemonstrationCode01"
        />

        <article class="demonstrationContainer">
            <demonstration-frame
                [Demonstration]="DemonstrationComponent01"
                [ShowDimensions]="true"
                [AnalyticsName]="'Demo01WindowTrigger'"
                (AnalyticsTrigger)="analyticsTrigger($event)"
            ></demonstration-frame>
        </article>
    </article>

    <article class="contentContainer">
        <p class="srcryTxt textContent">
            Use the following demonstration to try different settings for yourself to better understand how to use this property&#46;
        </p>

        <article class="demonstrationContainer">
            <demonstration-frame
                [Demonstration]="DemonstrationComponent02"
                [ShowDimensions]="true"
                [BroadcastName]="'KerningChannel'"
                [ChannelName]="'KerningExampleB'"
                [TargetName]="'KerningController'"
                [AnalyticsName]="'Demo02WindowTrigger'"
                [WindowWidth]="'var(--small-2-4)'"
                [MinWindowWidth]="'98px'"
                [WindowHeight]="'var(--small-2-4)'"
                [MinWindowHeight]="'150px'"
                (AnalyticsTrigger)="analyticsTrigger($event)"
            >
                <kerning-controller
                    controlArea
                    [BroadcastName]="'KerningChannel'"
                    [ChannelName]="'KerningController'"
                    [TargetName]="'KerningExampleB'"
                />
            </demonstration-frame>
        </article>
    </article>

    <paginate [PageData]="Pagination" />
</section>